## Create folds
Notebook to create K folds for data train and validation and save it in dataframe format

It will get the quantity of classes automatically

In [1]:
'''
CSV_INPUT_ALL_CLASSES: Path to csv file containing all the dataset
OUTPUT_TRAIN_FOLDER: Folder to save split TRAIN folds
OUTPUT_TEST_FOLDER: Folder to save split TEST folds
K_FOLDS: Folds number to be generated
'''
DATA_FOLDER='20201210/'
CSV_INPUT_ALL_CLASSES='../csv/input/all_HMV-covid_noncovid.csv'
OUTPUT_TRAIN_FOLDER='../csv/input/'+ DATA_FOLDER +'train/'
OUTPUT_TEST_FOLDER='../csv/input/'+ DATA_FOLDER +'test/'
K_FOLDS=5

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import StratifiedKFold

import glob
import os
from datetime import datetime

In [3]:
'''
Make all paths exist
'''
if not os.path.exists('../csv/'): 
    os.mkdir('../csv/')
if not os.path.exists('../csv/input/'): 
    os.mkdir('../csv/input/')
if not os.path.exists('../csv/input/'+DATA_FOLDER): 
    os.mkdir('../csv/input/'+DATA_FOLDER)
if not os.path.exists(OUTPUT_TRAIN_FOLDER): 
    os.mkdir(OUTPUT_TRAIN_FOLDER)
if not os.path.exists(OUTPUT_TEST_FOLDER): 
    os.mkdir(OUTPUT_TEST_FOLDER)

In [4]:
df = pd.read_csv(CSV_INPUT_ALL_CLASSES)
df

     nome      covid
0     C21      covid
1     C23      covid
2     C25      covid
3     C26      covid
4     C27      covid
..    ...        ...
150  C152  non covid
151  C156  non covid
152    C8  non covid
153  C159  non covid
154  C164  non covid

[155 rows x 2 columns]

In [5]:
# Get all classes in the dataframe
ar_classes = df.covid.unique()
ar_classes.sort()
ar_classes

array(['covid', 'non covid'], dtype=object)

In [6]:
df['int_covid'] = 0
for i in range(len(ar_classes)):
    df.loc[ df.covid==ar_classes[i], 'int_covid'] = i
df

     nome      covid  int_covid
0     C21      covid          0
1     C23      covid          0
2     C25      covid          0
3     C26      covid          0
4     C27      covid          0
..    ...        ...        ...
150  C152  non covid          1
151  C156  non covid          1
152    C8  non covid          1
153  C159  non covid          1
154  C164  non covid          1

[155 rows x 3 columns]

Generate the split to train and test samples.

In [7]:
X = df.index.to_list()
y = df['int_covid'].to_list()
skf = StratifiedKFold(n_splits=K_FOLDS, shuffle=True)
skf.get_n_splits(X, y)
# print(skf)
j = 1
for train_index, test_index in skf.split(X, y):
    df_train = pd.DataFrame(columns=['nome', 'covid'])
    for i in train_index:
        df_train = df_train.append(df.iloc[i])
    df_train = df_train.drop(columns=['int_covid'])
    df_train.to_csv( OUTPUT_TRAIN_FOLDER + 'train'+str(j)+'.csv', index=False)
    
    df_test = pd.DataFrame(columns=['nome', 'covid'])
    for i in test_index:
        df_test = df_test.append(df.iloc[i])
    df_test = df_test.drop(columns=['int_covid'])
    df_test.to_csv(OUTPUT_TEST_FOLDER+'test'+str(j)+'.csv', index=False)
    j+=1