## Create folds
Notebook to create K folds for data train and validation and save it in dataframe format

It will get the quantity of classes automatically

In [2]:
'''
CSV_INPUT_ALL_CLASSES: Path to csv file containing all the dataset
OUTPUT_TRAIN_FOLDER: Folder to save split TRAIN folds
OUTPUT_TEST_FOLDER: Folder to save split TEST folds
K_FOLDS: Folds number to be generated
'''
DATA_FOLDER='20200917/'
CSV_INPUT_ALL_CLASSES='../csv/input/2_classes_hcpa_hmv.csv'
OUTPUT_TRAIN_FOLDER='../csv/input/'+ DATA_FOLDER +'train/'
OUTPUT_TEST_FOLDER='../csv/input/'+ DATA_FOLDER +'test/'
K_FOLDS=45

In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import StratifiedKFold

import glob
import os
from datetime import datetime

In [4]:
'''
Make all paths exist
'''
if not os.path.exists('../csv/'): 
    os.mkdir('../csv/')
if not os.path.exists('../csv/input/'): 
    os.mkdir('../csv/input/')
if not os.path.exists('../csv/input/'+DATA_FOLDER): 
    os.mkdir('../csv/input/'+DATA_FOLDER)
if not os.path.exists(OUTPUT_TRAIN_FOLDER): 
    os.mkdir(OUTPUT_TRAIN_FOLDER)
if not os.path.exists(OUTPUT_TEST_FOLDER): 
    os.mkdir(OUTPUT_TEST_FOLDER)

In [6]:
df = pd.read_csv(CSV_INPUT_ALL_CLASSES)
df

        nome     covid
0    NEG-001  NEGATIVE
1    NEG-002  NEGATIVE
2    NEG-003  NEGATIVE
3    NEG-004  NEGATIVE
4    NEG-005  NEGATIVE
..       ...       ...
148      C90  POSITIVE
149      C91  POSITIVE
150      C93  POSITIVE
151      C94  POSITIVE
152      C96  POSITIVE

[153 rows x 2 columns]

In [7]:
# Get all classes in the dataframe
ar_classes = df.covid.unique()
ar_classes.sort()
ar_classes

array(['NEGATIVE', 'POSITIVE'], dtype=object)

In [8]:
df['int_covid'] = 0
for i in range(len(ar_classes)):
    df.loc[ df.covid==ar_classes[i], 'int_covid'] = i
df

        nome     covid  int_covid
0    NEG-001  NEGATIVE          0
1    NEG-002  NEGATIVE          0
2    NEG-003  NEGATIVE          0
3    NEG-004  NEGATIVE          0
4    NEG-005  NEGATIVE          0
..       ...       ...        ...
148      C90  POSITIVE          1
149      C91  POSITIVE          1
150      C93  POSITIVE          1
151      C94  POSITIVE          1
152      C96  POSITIVE          1

[153 rows x 3 columns]

Generate the split to train and test samples.

In [9]:
X = df.index.to_list()
y = df['int_covid'].to_list()
skf = StratifiedKFold(n_splits=K_FOLDS, shuffle=True)
skf.get_n_splits(X, y)
# print(skf)
j = 1
for train_index, test_index in skf.split(X, y):
    df_train = pd.DataFrame(columns=['nome', 'covid'])
    for i in train_index:
        df_train = df_train.append(df.iloc[i])
    df_train = df_train.drop(columns=['int_covid'])
    df_train.to_csv( OUTPUT_TRAIN_FOLDER + 'train'+str(j)+'.csv', index=False)
    
    df_test = pd.DataFrame(columns=['nome', 'covid'])
    for i in test_index:
        df_test = df_test.append(df.iloc[i])
    df_test = df_test.drop(columns=['int_covid'])
    df_test.to_csv(OUTPUT_TEST_FOLDER+'test'+str(j)+'.csv', index=False)
    j+=1